* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .buttonSubmit {
    position: relative;
    top: 25px !important;
  }
  .bd-highlight {
    background-color: #4f565b !important;
  }
  .ReactTable {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    left: 25px;
    margin-left: 50px;
    border: 0 !important;
  }
  
  .ReactTable * {
    box-sizing: border-box;
  }
  
  .ReactTable .rt-table {
    -webkit-box-flex: 1;
    -ms-flex: auto 1;
    flex: auto 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    padding-top: 20px !important;
  }
  
  .ReactTable .rt-thead {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #4f565b;
    padding-top: 7px !important;
    padding-bottom: 1px !important;
    color: whitesmoke;
  }
  
  .ReactTable .rt-thead.-headerGroups {
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .ReactTable .rt-thead.-filters {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .ReactTable .rt-thead.-header {
    background: #607080;
    color: white;
    /* background: #e9ecef;
    color:#000000; */
    /* font-size: 16px; */
    border-radius: 6px;
    /* padding-top: 7px !important; */
    /* padding-bottom: 7px !important; */
    /* box-shadow: 0 10px 250px 0 rgba(0, 0, 0, 0.15); */
  }
  
  .ReactTable .rt-thead.-filters input,
  .ReactTable .rt-thead.-filters select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 3px;
    font-weight: normal;
    outline: none;
  }
  .MuiDialogTitle-root {
    background-color: #dc3582fc!important;
    /* background: rgb(2,0,36); */
    background-color: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(222,8,152,1) 0%, rgba(240,142,37,1) 100%, rgba(245,178,7,0.969625350140056) 100%, rgba(255,0,219,1) 100%) !important;

  }
  .MuiTypography-root {
    color: #fff !important;
  }
  
  .ReactTable .rt-thead.-filters .rt-th {
    border-right: 1px solid rgba(0, 0, 0, 0.02);
  }
  
  .ReactTable .rt-thead .rt-tr {
    text-align: center;
    
  }
  
  .ReactTable .rt-thead .rt-th,
  .ReactTable .rt-thead .rt-td {
    padding: 5px 5px;
    line-height: normal;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 0 0 transparent;
  }
  
  .ReactTable .rt-thead .rt-th.-sort-asc,
  .ReactTable .rt-thead .rt-td.-sort-asc {
    /* box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.6); */
  }
  
  .ReactTable .rt-thead .rt-th.-sort-desc,
  .ReactTable .rt-thead .rt-td.-sort-desc {
    /* box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6); */
  }
  
  .ReactTable .rt-thead .rt-th.-cursor-pointer,
  .ReactTable .rt-thead .rt-td.-cursor-pointer {
    cursor: pointer;
  }
  
  .ReactTable .rt-thead .rt-th:last-child,
  .ReactTable .rt-thead .rt-td:last-child {
    border-right: 0;
  }
  
  .ReactTable .rt-thead .rt-resizable-header {
    overflow: visible;
    z-index: 0 !important;
  }
  
  .ReactTable .rt-thead .rt-resizable-header:last-child {
    overflow: hidden;
  }
  
  .ReactTable .rt-thead .rt-resizable-header-content {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .ReactTable .rt-thead .rt-header-pivot {
    border-right-color: #f7f7f7;
  }
  
  .ReactTable .rt-thead .rt-header-pivot:after,
  .ReactTable .rt-thead .rt-header-pivot:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .ReactTable .rt-thead .rt-header-pivot:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 8px;
    margin-top: -8px;
  }
  
  .ReactTable .rt-thead .rt-header-pivot:before {
    /* border-color: rgba(102, 102, 102, 0); */
    border-left-color: #f7f7f7;
    border-width: 10px;
    margin-top: -10px;
  }
  .ReactTable .rt-th .rt-resizable-header -sort-asc -cursor-pointer
 {
   border:none !important
 } 
  .ReactTable .rt-tbody {
    -webkit-box-flex: 99999;
    -ms-flex: 99999 1 auto;
    flex: 99999 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
  }
  
  .ReactTable .rt-tbody .rt-tr-group {
    border-bottom: none !important;
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.05); */
  }
  
  .ReactTable .rt-tbody .rt-tr-group:last-child {
    border-bottom: 0;
  }
  
  .ReactTable .rt-tbody .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.02);
  }
  
  .ReactTable .rt-tbody .rt-td:last-child {
    border-right: 0;
  }
  
  .ReactTable .rt-tbody .rt-expandable {
    cursor: pointer;
    text-overflow: clip;
  }
  
  .ReactTable .rt-tr-group {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .ReactTable .rt-tr {
    /* cursor: pointer; */
    height: 45px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -moz-display: inline-flex;
    position: relative;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    /* background: whitesmoke; */
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
  
  .ReactTable .rt-th,
  .ReactTable .rt-td {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* padding: 7px 5px; */
    /* overflow: hidden; */
    transition: 0.3s ease;
    transition-property: width, min-width, padding, opacity;
  }
  
  .ReactTable .rt-th.-hidden,
  .ReactTable .rt-td.-hidden {
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    opacity: 0 !important;
  }
  
  .ReactTable .rt-expander {
    display: inline-block;
    position: relative;
    margin: 0;
    color: transparent;
    margin: 0 10px;
  }
  
  .ReactTable .rt-expander:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    border-left: 5.04px solid transparent;
    border-right: 5.04px solid transparent;
    /* border-top: 7px solid rgba(0, 0, 0, 0.8); */
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
  }
  
  .ReactTable .rt-expander.-open:after {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  
  .ReactTable .rt-resizer {
    display: inline-block;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
    right: -18px;
    cursor: col-resize;
    z-index: 10;
  }
  
  .ReactTable .rt-tfoot {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  }
  
  .ReactTable .rt-tfoot .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .ReactTable .rt-tfoot .rt-td:last-child {
    border-right: 0;
  }
  
  .ReactTable.-striped .rt-tr.-odd {
    background: rgba(0, 0, 0, 0.03);
  }
  
  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: rgba(0, 0, 0, 0.05);
  }
  
  .ReactTable .-pagination {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }
  
  .ReactTable .-pagination input,
  .ReactTable .-pagination select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 3px;
    font-weight: normal;
    outline: none;
  }
  
  .ReactTable .-pagination .-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 6px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
    cursor: pointer;
    outline: none;
  }
  
  .ReactTable .-pagination .-btn[disabled] {
    opacity: 0.5;
    cursor: default;
  }
  
  .ReactTable .-pagination .-btn:not([disabled]):hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  
  .ReactTable .-pagination .-previous,
  .ReactTable .-pagination .-next {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  
  .ReactTable .-pagination .-center {
    -webkit-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    text-align: center;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .ReactTable .-pagination .-pageInfo {
    display: inline-block;
    margin: 3px 10px;
    white-space: nowrap;
  }
  
  .ReactTable .-pagination .-pageJump {
    display: inline-block;
  }
  
  .ReactTable .-pagination .-pageJump input {
    width: 70px;
    text-align: center;
  }
  
  .ReactTable .-pagination .-pageSizeOptions {
    margin: 3px 10px;
  }
  
  .ReactTable .rt-noData {
   
    display: inline-block;
    position: relative;
    margin-left: 50%;
    text-align: center;
    margin-top: 1% !important;
    transform: translate(-50%, 50%) !important;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    z-index: 1;
    pointer-events: none;
    padding: 10px !important;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .ReactTable .-loading {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
  .ReactTable .spinner {
    margin-top: -34px;
    margin-left: 40%;
  }
  
  .ReactTable .-loading > div {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-52%);
    transform: translateY(-52%);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .ReactTable .-loading.-active {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
  }
  
  .ReactTable .-loading.-active > div {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  
  .ReactTable .rt-resizing .rt-th,
  .ReactTable .rt-resizing .rt-td {
    transition: none !important;
    cursor: col-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .dropdown-menu {
    min-width: 9rem !important;
  }
  .dropdown-item:hover {
    background-color: #73a9e3 !important;
  }
  .green {
    color: green;
    text-align: center;
  }
  .red {
    color: red;
    text-align: center;
  }
  .select .MuiInputBase-root {
    font-size: none !important;
    line-height: none !important;
  }
  
  .select .MuiInputBase-input {
    padding: 4px 30px 7px 11px !important;
    font-size: 12px;
    height: 15px;
  }
  
  .MenuItem.MuiMenuItem-root {
    font-size: 13px !important;
    line-height: none !important;
    min-height: 37px !important;
    height: 37px !important;
  }
  .conent {
    position: relative;
    top: 12px;
    left: 50px;
  }
  .img {
    position: absolute;
    top: 0px;
    left: -90px;
  }
  table,
  tr,
  td,
  th {
    border: 1px solid black;
    padding: 5px 20px;
  }
  .rt-thead -header{
    background-color: #73a9e3 !important;
  }
  .MuiDialog-container {
    height: 600px !important;
  }
  .padding {
    padding-left: 150px;
    padding-right: 150px;
  }
  .dashbord .pointer {
    cursor: pointer;
    float: right !important;
    margin-top: 0.5rem;
  }
  /* @media screen and (max-width: 1366px) {
    .dashbord .pointer {
      cursor: pointer;
      float: right !important;
      position: relative;
      top: 1px !important;
    }
    .dashbord .img {
      position: absolute;
      top: 0px;
      left: -90px !important;
    }
    .dashbord .conent {
      font-size: large;
      position: relative;
      left: 30px;
      top: 20px;
    }
  } */
  .dropdown-menu {
    transform: translate3d(-113px, 38px, 0px) !important;
  }
  .dashbord h3 {
    background: -webkit-linear-gradient(#e51722, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  .ReactTable{
    margin-left: auto!important;
  }

   /* search button */

  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 3ppx;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    /* background: #ed4760;
    color: white; */
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 3px;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(222,8,152,1) 0%, rgba(240,142,37,1) 100%, rgba(245,178,7,0.969625350140056) 100%, rgba(255,0,219,1) 100%);

  }
  
  form.example button:hover {
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(222,8,152,1) 0%, rgba(227,46,120,1) 0%, rgba(230,71,98,1) 6%, rgba(229,66,102,1) 81%, rgba(240,142,37,1) 100%, rgba(245,178,7,0.969625350140056) 100%, rgba(255,0,219,1) 100%); */
    background: #dc3582fc!important;
    /* background: #bb263d; */
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .button_color{
    background-color:#ed4760;
    
  }
  .button_color:hover{
    background: #dc3582fc!important;
    /* background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(222,8,152,1) 0%, rgba(227,46,120,1) 0%, rgba(230,71,98,1) 6%, rgba(229,66,102,1) 81%, rgba(240,142,37,1) 100%, rgba(245,178,7,0.969625350140056) 100%, rgba(255,0,219,1) 100%); */
  }
  .btn-secondary {
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(222,8,152,1) 0%, rgba(240,142,37,1) 100%, rgba(245,178,7,0.969625350140056) 100%, rgba(255,0,219,1) 100%);

    /* color: #fff;
    background-color: #ed4760 !important; */
    /* border-color: #6c757d; */
}
.button_pos{
  left: -21px;
  position: relative !important;
  color: #fff; 
  background-color: #ed4760 !important;                        
}

.button_pos:hover{
  background: #dc3582fc!important;                       
}

.MuiCheckbox-root {
  color: rgba(0, 0, 0, 0.54) !important;
}
.MuiIconButton-label {
  color: #6c757d !important;
  /* color: #f8f9fa !important; */
}
/* .MuiSvgIcon-root{
  color: #fff!important;
} */

.action{
  text-align: center;
   position: relative;
   left: 20%;
}

.text-center{
  text-align: center;
   position: relative;
    margin-top: 1%;
}
.ReactTable rt-th rt-resizable-header{
  border: none !important;
 border-box: none !important;
}

.input-text{
    border-radius: 5px;
    height: 40px;
    width: 328px;
    padding: 10px;
}

.search-btn{
    border-radius: 5px;
    height: 40px;
    width: 108px;
    margin-left: 20px;
    background-color: #E9ECEF;
    cursor: pointer;
}
table, tr, td, th {
  border: none !important;
  padding: 5px 20px;
  width: 100%;
  /* box-shadow: 0px 0px 5px; */
}

.TablePagination-style{
  display: flex;
}
.table-position{
  /* display: inline-flex; */
}
.table-body{
  box-shadow: 0px 0px 5px;
  width: 100%;
}